$font-light: white
$font-color-light: white
$font-color-dark: #55655c
$background-color: #fff
$bg-color-light-2: #f9f9f9
$primary-color: #42b883
$secondary-color: #1c3041
$font-dark: #030403
$z-index-public-header: 10
$top-font-weak-color: #677772
$border-color-light: white
