@use '../shared/variable' as v
@use '../shared/mixin' as m

.features
  flex-wrap: wrap
  justify-content: center
  margin: 64px
  display: flex

.col
  width: 300px
  margin-bottom: 128px
  margin-right: 64px

.featureTitle
  text-align: center
  margin-bottom: 16px
  font-size: 18px

.featureDescription
  text-align: left
  color: v.$top-font-weak-color

  