@use '../shared/variable' as v
@use '../shared/mixin' as m

.footer
  background: v.$bg-color-light-2
  width: 100%

.footer__content
  background: #f9f9f9
  justify-content: space-evenly
  width: 100%
  max-width: 1920px
  margin: auto
  padding: 64px 128px
  display: flex
  @include m.lg
    flex-wrap: wrap
    padding: 16px

.footer__left
  margin-right: auto
  @include m.lg
    margin-bottom: 64px

.footer__right
  display: flex
  align-items: center

// ------------------------
//  logo
// ------------------------

.footer__logo
  letter-spacing: 4px
  margin-bottom: 32px
  font-size: 24px
  font-weight: 700

// ------------------------
//  menu
// ------------------------
.footer__menu
  margin-right: 16px
  display: flex
  @include m.lg
    flex-wrap: wrap

.footer__menu-title
  margin-bottom: 32px

.footer__menu-item
  margin-right: 64px
  @include m.lg
    margin-bottom: 64px

//------------------------
//  link
// ------------------------
.footer__link-item
  margin-bottom: 16px
