@use '../shared/variable' as v
@use '../shared/mixin' as m

.header
  width: 100%
  color: v.$font-color-dark
  z-index: v.$z-index-public-header
  justify-content: space-between
  padding: 16px
  display: flex
  position: absolute
  top: 0
  unicode-bidi: isolate

// ------------------------
//  logo
// ------------------------

.header__logo
  display: flex

.header__logo-content
  display: flex
  align-items: center

.header__logo-image
  margin-right: 8px

.header__logo-text
  font-size: 14px

// ------------------------
//  right area
// ------------------------

.header__right
  display: flex
  align-items: center

//------------------------
//  menu
// ------------------------

.header__menu
  margin-right: 16px
  display: flex
  @include m.lg
    display: none

.header__menu-title
  margin-bottom: 32px

.header__menu-item
  margin-right: 16px
  font-size: 12px

.header__menu-link
  vertical-align: middle
  vertical-align: -webkit-baseline-middle
  transition: color 0.5s
  display: inline-block
  &:hover
    color: v.$primary-color-darker

// ------------------------
//  actions
// ------------------------

.header--actions
  justify-content: space-evenly
  align-items: center
  min-width: 240px
  display: flex
  @include m.lg
    justify-content: flex-end

.header--signup
  @include m.lg
    display: none
