@use '../shared/variable' as v
@use '../shared/mixin' as m

.header
  width: 100%
  color: v.$font-color-dark
  z-index: v.$z-index-public-header
  justify-content: space-between
  padding: 16px
  display: flex
  position: absolute
  top: 0
  unicode-bidi: isolate

// ------------------------
//  logo
// ------------------------

.header__logo
  display: flex

.header__logoContent
  display: flex
  align-items: center

.header__logoImage
  margin-right: 8px

.header__logoText
  font-size: 14px

// ------------------------
//  right area
// ------------------------

.header__right
  display: flex
  align-items: center

ul
  list-style-type: none

//------------------------
//  menu
// ------------------------

.header__menu
  margin-right: 16px
  display: flex

.header__menuTitle
  margin-bottom: 32px

.header__menuItem
  margin-right: 16px
  font-size: 12px

.header__menuLink
  vertical-align: middle
  vertical-align: -webkit-baseline-middle
  transition: color 0.5s
  display: inline-block

//------------------------
//  github icon
//------------------------

.header__container
  display: flex
  align-items: center
  justify-content: center
  height: 100%

.header__container svg
  width: 24px
  height: 24px

// ------------------------
//  actions
// ------------------------

.header--actions
  justify-content: space-evenly
  align-items: center
  min-width: 240px
  display: flex

.header__button
  cursor: pointer
  letter-spacing: 1.4px
  border: 0
  border-radius: 4px
  width: 100%
  padding: 8px 16px
  font-size: 10px

.button--primary
  background: v.$primary-color
  color: v.$font-color-light
  transition: background 0.5s
  box-shadow: 2px 2px 4px 1px #1e514036

.button--secondary
  background: v.$secondary-color
  color: v.$font-color-light
  box-shadow: 2px 2px 4px 1px #1e514036
