* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border-radius: 12px;
}

body,
input,
textarea {
  color: #55655c;
  background: #fff;
  font-family: "Inter", "Noto Sans JP", sans-serif;
}

a {
  color: #55655c;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@keyframes hero-typing {
  0% {
    width: 0;
  }
}
@keyframes hero-effect {
  50% {
    border-right: 3px solid #55655c;
  }
}
@keyframes hero-hide {
  0% {
    width: 0;
  }
}
@keyframes hero-showup {
  0% {
    opacity: 0;
  }
}
@keyframes hero-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.body {
  display: block;
  background: #fff;
  overflow-x: hidden;
}

.button {
  cursor: pointer;
  letter-spacing: 1.4px;
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 10px;
  transition: box-shadow 0.5s, opacity 0.5s;
}
.button:hover {
  box-shadow: 2px 2px 4px 1px rgba(34, 34, 34, 0.1254901961);
}

.button--primary {
  background: #42b883;
  color: white;
  transition: background 0.5s;
  box-shadow: 2px 2px 4px 1px rgba(30, 81, 64, 0.2117647059);
}
.button--primary:hover {
  background: #0d864f;
}

.button--secondary {
  background: #1c3041;
  color: white;
  box-shadow: 2px 2px 4px 1px rgba(34, 34, 34, 0.5019607843);
}
.button--secondary:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container svg {
  width: 24px;
  height: 24px;
}

.cta {
  cursor: pointer;
  background: #42b883;
  color: #fff;
  border-radius: 8px;
  justify-content: center;
  width: 360px;
  margin: 64px auto auto;
  padding: 16px 32px;
  transition: background 0.5s;
  display: flex;
}
.cta:hover {
  background: #0d864f;
}

.cta__animation {
  animation: 6s step-end hero-showup, 1s 6s hero-fadein;
}
@media (max-width: 576px) {
  .cta__animation {
    animation: none;
  }
}

.donut {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .donut {
    display: none;
  }
}

.donut__inner {
  background: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  display: flex;
}

.features {
  flex-wrap: wrap;
  justify-content: center;
  margin: 64px 0;
  display: flex;
}

.features__col {
  width: 300px;
  margin-bottom: 128px;
  margin-right: 64px;
}
@media (max-width: 576px) {
  .features__col {
    margin: auto auto 128px;
  }
}

.feature__title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 18px;
}

.feature__description {
  text-align: left;
  color: #677772;
}

.footer {
  background: #f9f9f9;
  width: 100%;
}

.footer__content {
  background: #f9f9f9;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 64px 128px;
  display: flex;
}
@media (max-width: 992px) {
  .footer__content {
    flex-wrap: wrap;
    padding: 16px;
  }
}

.footer__left {
  margin-right: auto;
}
@media (max-width: 992px) {
  .footer__left {
    margin-bottom: 64px;
  }
}

.footer__right {
  display: flex;
  align-items: center;
}

.footer__logo {
  letter-spacing: 4px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
}

.footer__menu {
  margin-right: 16px;
  display: flex;
}
@media (max-width: 992px) {
  .footer__menu {
    flex-wrap: wrap;
  }
}

.footer__menu-title {
  margin-bottom: 32px;
}

.footer__menu-item {
  margin-right: 64px;
}
@media (max-width: 992px) {
  .footer__menu-item {
    margin-bottom: 64px;
  }
}

.footer__link-item {
  margin-bottom: 16px;
}

.header {
  width: 100%;
  color: #55655c;
  z-index: 10;
  justify-content: space-between;
  padding: 16px;
  display: flex;
  position: absolute;
  top: 0;
  unicode-bidi: isolate;
}

.header__logo {
  display: flex;
}

.header__logo-content {
  display: flex;
  align-items: center;
}

.header__logo-image {
  margin-right: 8px;
}

.header__logo-text {
  font-size: 14px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-right: 16px;
  display: flex;
}
@media (max-width: 992px) {
  .header__menu {
    display: none;
  }
}

.header__menu-title {
  margin-bottom: 32px;
}

.header__menu-item {
  margin-right: 16px;
  font-size: 12px;
}

.header__menu-link {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  transition: color 0.5s;
  display: inline-block;
}
.header__menu-link:hover {
  color: #0d864f;
}

.header--actions {
  justify-content: space-evenly;
  align-items: center;
  min-width: 240px;
  display: flex;
}
@media (max-width: 992px) {
  .header--actions {
    justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .header--signup {
    display: none;
  }
}

.hero {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 960px;
  display: flex;
  position: relative;
}
@media (max-width: 576px) {
  .hero {
    height: 640px;
  }
}

.hero__copy {
  text-align: center;
}

.hero__copy-text {
  font-size: 96px;
}

.hero__first-line {
  text-align: center;
  white-space: nowrap;
  width: 16ch;
  margin: auto;
  animation: 3s steps(16, end) hero-typing, 0.5s step-end 6 alternate hero-effect;
  display: block;
  overflow: hidden;
}
@media (max-width: 992px) {
  .hero__first-line {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .hero__first-line {
    width: 100%;
    font-size: 32px;
    animation: none;
  }
}

.hero__gradient {
  background: linear-gradient(90deg, #4bcaa0 0%, #2ed9ff 100%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

.hero__second-line {
  text-align: center;
  white-space: nowrap;
  width: 14ch;
  margin: auto;
  animation: 3s step-end hero-hide, 3s steps(14, end) 3s hero-typing, 5s step-end 3s 10 alternate hero-effect;
  display: block;
  overflow: hidden;
}
@media (max-width: 992px) {
  .hero__second-line {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .hero__second-line {
    width: 100%;
    font-size: 32px;
    animation: none;
  }
}

.hero__subtext {
  width: 60ch;
  color: #677772;
  white-space: nowrap;
  margin: 32px auto auto;
  font-size: 24px;
  animation: 6s step-end hero-showup, 1s 6s hero-fadein;
  overflow: hidden;
}
@media (max-width: 992px) {
  .hero__subtext {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .hero__subtext {
    white-space: normal;
    width: 100%;
    font-size: 16px;
    animation: none;
  }
}

.icon-circle {
  background: #d6f5eb;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.price {
  margin: 64px 0;
}

.price__header-title {
  text-align: center;
  font-size: 18px;
}

.price__sub-header {
  text-align: center;
  margin-top: 32px;
  font-size: 12px;
}
@media (max-width: 992px) {
  .price__sub-header {
    padding: 16px;
  }
}

.price__table {
  justify-content: center;
  margin-top: 128px;
  display: flex;
}
@media (max-width: 992px) {
  .price__table {
    flex-wrap: wrap;
  }
}

.price__col {
  margin-right: 32px;
}
@media (max-width: 576px) {
  .price__col {
    margin-bottom: 64px;
  }
}
@media (max-width: 992px) {
  .price__col {
    margin: auto;
  }
}

.price__plan-container {
  border: 1px solid white;
  background: #fff;
  border-radius: 8px;
  width: 360px;
  padding: 32px;
  box-shadow: 1px 1px 8px 4px #f9f9f9;
}
@media (max-width: 992px) {
  .price__plan-container {
    min-width: 100%;
    margin-bottom: 64px;
  }
}

.price__plan-header {
  width: 240px;
}

.price__plan-name {
  font-size: 18px;
  font-weight: 700;
}

.price__plan-description {
  height: 100px;
  color: #677772;
  padding: 16px 0;
  font-size: 12px;
}

.price__plan-price {
  letter-spacing: 0.2rem;
  white-space: nowrap;
  padding: 16px 0;
  font-size: 64px;
  font-weight: 700;
}

.price__price-tag {
  color: #55655c;
  margin: 16px 0;
  font-size: 12px;
}

.price__plan-row {
  text-align: center;
  align-items: center;
  display: flex;
}
@media (max-width: 992px) {
  .price__plan-row {
    height: auto;
  }
}

.price__plan-row-header {
  display: none;
}
@media (max-width: 992px) {
  .price__plan-row-header {
    background: #42b883;
    color: white;
    padding: 4px;
    font-size: 12px;
    display: block;
  }
}

.price__plan-row-body {
  text-align: left;
  padding: 16px;
}

.review {
  margin-bottom: 64px;
  padding: 0 128px;
}
@media (max-width: 992px) {
  .review {
    padding: 0 16px;
  }
}

.review__header-title {
  text-align: center;
  font-size: 18px;
}

.review__content {
  justify-content: space-evenly;
  margin-top: 128px;
  padding: 0 128px;
  display: flex;
}
@media (max-width: 992px) {
  .review__content {
    flex-wrap: wrap;
    margin-top: 64px;
    padding: 0 16px;
  }
}

.review__col {
  width: 280px;
  margin-right: 32px;
}
@media (max-width: 992px) {
  .review__col {
    min-width: 280px;
    margin-bottom: 128px;
  }
}

.review__avatar {
  justify-content: center;
  align-items: center;
  display: flex;
}

.review__avatar-image {
  object-fit: cover;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.review__profile {
  text-align: center;
  margin: 32px 0;
  font-weight: 700;
}

.review__description {
  color: #677772;
}

.review__footer {
  justify-content: center;
  margin: 128px 0;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
