@use '../shared/_base.sass' as b
@use '../shared/_variable' as v

.list
  padding: 32px

.list__header
  padding: 16px
  margin-bottom: 32px
  display: flex
  justify-content: flex-end

.list__ttl
  display: flex
  align-items: center
  border-bottom: 1px solid v.$border-color

.list__ttl-col
  flex: 1
  padding: 8px 16px
  border-right: 1px solid v.$border-color
  font-size: 12px
  &:last-child
    border-right: 0

.list__ttl-col--long
  flex: 4

.list__container
  list-style: none

.list__item
  display: flex
  align-items: center
  width: 100%
  border-bottom: 1px solid v.$border-color
  transition: opacity 0.8s ease

.list__item--completed-dismissing
  opacity: 0

.list__item-col
  box-sizing: border-box
  flex: 1
  border-right: 1px solid v.$border-color
  padding: 16px

.list__item-col--checkbox
  display: flex
  justify-content: center

.list__item-col--name
  flex: 4
  cursor: pointer
  input
    width: 100%
    box-sizing: border-box
    background: #fff
    border: 1px solid v.$border-color
    border-radius: 4px
    padding: 8px
    outline: none
    &:focus-visible
      outline: 3px solid #666

.list__item-col--deadline
  cursor: pointer
  input
    width: 100%
    box-sizing: border-box
    background: #fff
    border: 1px solid v.$border-color
    border-radius: 4px
    padding: 8px
    outline: none
    &:focus-visible
      outline: 3px solid #666

.list__item-col--actions
  font-size: 12px
  display: flex
  justify-content: center
